@import "tailwindcss";
body {
    background-color: rgb(48, 48, 48);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media print {
    @page {
        margin: 0;
    }
    body {
        color: black !important;
    }
    .navBar {
        display: none;
    }
    .addLine {
        display: none;
    }
    .itemRemove {
        display: none;
    }
    .invoice {
        border-radius: 0 !important;
        box-shadow: none !important;
        border: none !important;

    }
}