@import "tailwindcss";
body {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    background-color: rgb(48, 48, 48);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media print {
    @page {
        margin: 0;
        margin-top: 2;
    }
    body {
        margin: 0;
        padding: 0;
        background-color: white !important;
    }
    .navBar {
        display: none;
    }
    .addLine {
        display: none;
    }
    .itemRemove {
        display: none;
    }
    .invoice {
        border-radius: 0 !important;
        box-shadow: none !important;
        border: none !important;

    }
    .printDesign {
        color: black !important;
    }
    .printDesignDate {
        color: black;
        padding: 0;
        border: none;
    }

    .inputBox {
        display: none !important;
    }

    header, footer, nav, .no-print {
        display: none !important;
      }
}